<div class="main-container">
    <h1>¿Cómo funciona KAI?</h1>
    <p>KAI es una plataforma para todo artista que quiera explorar nuevas temáticas y participar en concursos anónimos
        para poder conocer a más integrantes de la comunidad.</p>
    <div class="containers">
        <div class="how-to-info">
            <div>
                <div class="header-info">
                    <h3>Visualiza eventos que haya en marcha</h3>
                    <mat-icon>visibility</mat-icon>
                </div>
                <p>Dispondrás de una variedad de eventos gestionados por nuestros administradores con todo tipo detemáticas: desde paisajes, hasta retratos o incluso comidas. <br> En cada evento verás una fecha de inicio y otra de fin, ambas incluidas. </p>
            </div>
            <hr style="border: 1px solid #CCB3F3">
            <div>
                <div class="header-info">
                <h3>Utiliza tu voto</h3>
                <mat-icon>thumbs_up_down</mat-icon>
                </div>
                <p>Podrás votar la ilustración o diseño que más te guste según tu criterio y los temas que abarque el evento. Pero recuerda... ¡Solo dispondrás de un voto por evento!</p>
            </div>
            <hr style="border: 1px solid #CCB3F3">
            <div>
                <div class="header-info">
                <h3>Participa en el evento que más te guste</h3>
                <mat-icon>file_upload</mat-icon>
                </div>
                <p>No solo podrás votar, sino también participar. Siéntete libre de aportar tu granito de arena a los eventos y participar en ellos. Recuerda no subir diseños o ilustraciones que puedan discriminar o ser sensibles para cualquier público.</p>
            </div>
        </div>
        <div class="enjoy-info">
            <div>
                <h3>Espera a ver los resultados</h3>
                <p style="font-size: large;">¡Ya solo nos queda esperar! Una vez finalizado el evento, podrás entrar y comprobar los ganadores.</p>
            </div>
        </div>
    </div>
</div>