.layout {
    display: flex;
    flex-direction: column;
    padding: 4vh;
}

.event-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mat-mdc-card {
    background-color: #CCB3F3;
    border: 2px solid #7b6a9f;
    box-shadow: none;

    button {
        margin-top: 5px;
        margin-right: 5px;
    }
}

.winner-card{
    margin-bottom: 4vh;
}

.images-container {
    columns: 15rem 4;
    gap: 1.4rem 1.4rem;
    padding-top: 4vh;
    margin-bottom: 4vh;
}


.image-container {
    margin-bottom: 1.4rem;
    position: relative;
    overflow: hidden;

}

.overlay-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.image-container:hover .overlay-buttons {
    display: flex;
    /* Para mostrar los botones al hacer hover */
}

.image-container img {
    border-radius: 15px;
    width: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Transición suave para el efecto hover */
}

.image-container:hover img {
    transform: scale(1.1);
    /* Zoom de 110% al hacer hover */
    filter: brightness(70%) blur(3px);
    /* Aplicación de un desenfoque de 3px al hacer hover */
}

.like-container {
    margin-top: 2vh;
}

@keyframes highlightAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.highlighted-image {
    animation: highlightAnimation 3s ease;
}

.fade-in-item {
    animation: fadeIn 1.5s ease;
    animation-fill-mode: both;
    /* Para que el elemento se quede en el estado final de la animación */
    opacity: 0;
    /* Inicialmente el elemento estará transparente */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.winner-info-container {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    border: 2px solid #7b6a9f; /* Borde */
    padding: 4vh;
    margin-bottom: 2vh;
    border-radius: 4px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.winner-image-container,
.winner-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winner-details-container {
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.winner-details-container a {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: #7b6a9f;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    
}

.winner-details-container:hover {
    transform: translateY(-10px);
}

.winner-image-container img {
    transition: box-shadow 0.3s ease-in-out;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    border: 2px solid #7b6a9f; /* Borde */
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
}

.winner-image-container:hover img {
    transform: translateY(-10px);
}

.winner-name {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.no-images-container{
    padding: 4vh;
    margin-top: 4vh;
    border: 2px solid #7b6a9f; /* Borde */
    border-radius: 4px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.like-count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2vh;
    right: 2vw;
    background-color: rgba(255, 255, 255, 0.431);
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    backdrop-filter: blur(10px);
}
