@if(!showSpinner){
<mat-card>
    <mat-card-content>
        <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
            <h2>¡Inicia sesión!</h2>
            <mat-form-field color="accent">
                <mat-label>Email</mat-label>
                <input matInput placeholder="kai@example.com" formControlName="email" required>
                @if(form.get('email')!.invalid){
                <mat-error>Introduce un email válido</mat-error>
                }
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button type="submit" [disabled]="!form.valid" mat-raised-button>INICIAR SESIÓN</button>

            <!-- Mostrar error si existe -->
            @if(responseError){
            <mat-error>{{ responseError }}</mat-error>
            }

            <p class="captcha-info">This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
        </form>
    </mat-card-content>
</mat-card>
}@else{
    <div class="progress-spinner">
        <mat-progress-spinner class="spinner" mode="indeterminate" color="warn" diameter="64">
        </mat-progress-spinner>
    </div>
}