<mat-toolbar color="primary">
    <img src="../../../assets/branding/isotype.png" alt="" width="40">
    <span class="spacer"></span>
    @if(isMobile){
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Configuration" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            @if(userService.isLogged()){
                <button mat-menu-item routerLink="/gallery" routerLinkActivate="active">Eventos</button>
                <button mat-menu-item (click)="onClickLogout()">Salir</button>
            }
            @if(!userService.isLogged()){
                <button mat-menu-item routerLink="/home" routerLinkActivate="active">¿Cómo funciona?</button>
                <button mat-menu-item routerLink="/register" routerLinkActivate="active">Regístrate</button>
                <button mat-menu-item routerLink="/login" routerLinkActivate="active">Inicia sesión</button>
            }
        </mat-menu>
    }@else {
        @if(userService.isLogged()){
            <button mat-button routerLink="/gallery" routerLinkActivate="active">Eventos</button>
            <button mat-button (click)="onClickLogout()">Salir</button>
        }
        @if(!userService.isLogged()){
            <button mat-button routerLink="/home" routerLinkActivate="active">¿Cómo funciona?</button>
            <button mat-button routerLink="/register" routerLinkActivate="active">Regístrate</button>
            <button mat-button routerLink="/login" routerLinkActivate="active">Inicia sesión</button>
        }
    }
</mat-toolbar>