@if(!showSpinner){
<mat-card appearance="outlined">
    <mat-card-content>
        <!-- Vista previa de la imagen seleccionada -->
        @if(this.form.get('file')?.value){
            <div>
                <img [src]="imageUrl" alt="Imagen seleccionada" style="max-width: 100%; max-height: 500px;">
                <button mat-mini-fab class="delete-button" (click)="clearImage()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        }
        <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <h2>Sube una ilustración</h2>
            <mat-form-field color="accent">
                <mat-label>Nombre de la ilustración</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <!-- Botón personalizado para subir imagen -->
            <button mat-stroked-button type="button" (click)="fileInput.click()">
                Seleccionar imagen
            </button>
            <input type="file" #fileInput style="display: none" (change)="changedFileInput($event)" accept=".jpeg, .png" required>

            <button class="upload-image" type="submit" [disabled]="!form.valid" mat-raised-button>SUBIR ILUSTRACIÓN</button>

            <p style="font-size: small;">El formato de la imagen puede ser .png o .jpg</p>
        </form>
    </mat-card-content>
</mat-card>
}
@if(showSpinner){
    <div class="progress-spinner">
        <mat-progress-spinner class="spinner" mode="indeterminate" color="warn" diameter="64">
        </mat-progress-spinner>
    </div>
}